@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 400px;
}

.phrase {
    font-size: 25px;
    display: inline;
    white-space: wrap;
}

.correctChar {
    color: green;
    background-color: rgba(240, 248, 255, 0.069);
}

.incorrectChar {
    color: red;
    background-color: rgba(255, 0, 0, 0.137);
}

.correct {
    font-size: 25px;
    color: green;
    display: inline;
}

.input {
    margin-top: 20px;
    height: 40px;
    border: none;
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: fit-content;
    resize: none;
}

.input:focus {
    outline: none;
    background-color: transparent;
}
